{% extends 'flatpages/default.html' %}

{% load censor %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}


{% block content %}
    <style>
    form p {
        margin-bottom: 15px;
    }

    form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="submit"] {
        margin-top: 20px;
    }
    </style>
    <br>
    <h1><strong>Все новости и статьи</strong></h1>
    <h3>Количество новостей: {{ news|length }}</h3>
    <hr>
    <br>
    <form action="" metod="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    <hr>

    {% if news %}
        <table>
            <tr>
                <td><h4><strong>Заголовок</strong></h4></td>
                <td><h4><strong>Дата публикации</strong></h4></td>
                <td><h4><strong>Описание</strong></h4></td>
            </tr>
            {% for news1 in news %}
            <tr>
                <td>{{ news1.title|censor }}</td>
                <td>{{ news1.created_at|date:'d M Y' }}</td>
                <td> {{ news1.content|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
