{% extends 'flatpages/default.html' %}

{% block content %}
<style>
    form p {
        margin-bottom: 15px;
    }

    form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="submit"] {
        margin-top: 20px;
    }
</style>

<div style="max-width: 800px; margin: 0 auto;">
<br>
<h1><strong>Создание и редактирование</strong></h1>
<br>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить"/>
</form>
{% endblock content %}